<div class="container">
  <div class="col-12">
    <h1 class='m-3 text-center'>Users index page</h1>
  </div>
</div>

 <!--
<div class="container">
  <div class="users-cards d-flex">
    <% @users.each do |user|  %>
      <div class="card">
        <img class="card-img-top" src="https://i.pinimg.com/originals/e0/4f/66/e04f6668cfae78d390c29c61a372a927.jpg" alt="Card image">
        <div class="card-body">
          <h3 class="card-title"><%= user.user_name %></h3>
          <h5 class="card-title"><%= user.alias %></h5>
          <p class="card-text"><%= user.description %></p>
          <a href="#" class="btn btn-primary">More infos</a>
        </div>
      </div>
    <% end %>
  </div>
-->


</div>
<div class="container">
  <div class="villains-cards">
    <% @users.each do |user| %>
      <% if user.photo.attached? %>
        <a href="#" class="villain-card" style="background-image: url(<%= cl_image_path user.photo.key, height: 300, width: 400, crop: :fill %>);">
      <% else %>
        <a href="#" class="villain-card" style="background-image: url('https://i.pinimg.com/originals/9f/c2/e8/9fc2e8646f9d363edb5b746bcb77ef85.png');">
      <% end %>
        <span><%= link_to user.user_name, user_path(user) %></span>
      </a>
    <% end %>
  </div>
</div>
