<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/d3327585963513.5d8b73a6567dc.jpg ')">
  <div class="container">
    <div class="col-12">
      <h1>Villains <br>People</h1>
      <a href="#villains-index" class="btn btn-primary rounded-pill btn-lg mt-5">Find the villain you need</a>
    </div>
  </div>
</div>

  <!-- Checkboxes -->
  <%= form_tag filter_index_path do %>
    <% Crime::CATEGORIES.each do |crime| %>
      <%= check_box_tag crime, crime %>
      <%= h crime %>
    <% end %>
  <%= submit_tag "search", class: 'btn btn-primary' %>

<% end %>

  <div class="villains-cards">
    <% @users.each do |user| %>
      <% if user.photo.attached? %>
        <a href="/users/<%= user.id %>" class="villain-card" style="background-image: url(<%= cl_image_path user.photo.key, height: 300, width: 400, crop: :fill %>);">
          <span><%= user.user_name %></span>
        </a>
      <% else %>
        <a href="/users/<%= user.id %>" class="villain-card" style="background-image: url('https://i.pinimg.com/originals/9f/c2/e8/9fc2e8646f9d363edb5b746bcb77ef85.png');">
          <span><%= link_to user.user_name, user_path(user) %></span>
        </a>
      <% end %>
    <% end %>
  </div>

