<div class='container'>
<h1><b>username: </b><%= @user.user_name %><br></h1>
<b>alias: </b><%= @user.alias %><br>
<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<b>job: </b><%= @user.job_title %><br>
<b>desc: </b><%= @user.description %><br>
<br>
<b>Crimes</b><br><br>
    <% @user.crimes.each do |crime| %>
  <b>name: </b><%= crime.name %><br>
  <b>category: </b><%= crime.category %><br>
  <b>price: </b><%= crime.price %>
  <b>currency: </b><%= crime.currency %><br>
  <%= link_to "order crime", new_crime_order_path(crime) %><br><br>
    <% end %>
</div>

