<div class="banner banner-show" style="<% if @user.cover_pic.attached? %>
                                              background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)),
                                              url('<%= cl_image_path @user.cover_pic.key, height: 1080, width: 1920, crop: :fill %>')
                                       <% else %>
                                              background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)),
                                              url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2019/11/Meanest-Supervillains-Of-All-Time.jpg')
                                       <% end %>">
    <div class="container">
        <h1 class="text-center">
          <%= @user.alias %>
        </h1>
    </div>
</div>

<div class="container user-infos mt-5">
  <div class="row">
    <div class="col-9 d-flex flex-wrap">
      <h2 class="mb-4 col-9">Crimes proposed</h2>
      <h2 class="col-3"><%= link_to 'New crime', new_crime_path(@user), class:'btn btn-primary rounded-pill d-inline-block ml-auto' %></h2>

      <% @user.crimes.each do |crime| %>
        <div class="crime-card m-3 col-12 col-md-3 d-flex flex-column justify-content-between">
          <div>
            <span class="badge badge-pill badge-dark mb-3"><%= crime.category %></span>
            <p class="crime-name"><strong><%= crime.name %></strong></p>
          </div>
          <div>
            <h6 class="price-tag"><strong>Price</strong></h6>
            <p class="price"><%= crime.price %> <%= crime.currency %></p>
            <div>
              <p class="text-right mb-0"><%= link_to "Order", new_crime_order_path(crime), class:'mt-2 btn btn-outline-primary rounded-pill text-right' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-3">
      <h2 class="mb-4">More infos</h2>
      <h6>Known as</h6>
      <p><%= @user.job_title %></p>
      <h6>Description</h6>
      <p><%= @user.description %></p>
      <h6>Average rating</h6>
      <% if @ratings == [] %>
        <p>No rating yet</p>
      <% else %>
        <% @average_rating.floor.to_i.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @average_rating.floor.to_i).times do %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-9 d-flex flex-wrap">
      <h2 class="mb-4 mt-4 col-9">Reviews</h2>

      <% if @reviews.present? %>

        <% @reviews.each do |review| %>
          <div class="card w-100 m-3" id="no-border">
            <div class="review-card">
              <div class='d-flex align-items-center justify-content-between'>
                <h5 class="review-title"><%= review.title %></h5>
                <p class="review-text"><%= review.post_date %></p>
              </div>
              <p class="crime-name">Rating: <%= review.rating %></p>
              <p class="review-text"><%= review.comment %></p>
            </div>
          </div>
        <% end %>

      <% else %>
        <h5 class="mb-4 mt-4 col-9">No review yet</h5>
      <% end %>

    </div>
  </div>

</div>





