<div class="banner banner-mini">
  <div class="container">
    <h1>My ongoing orders</h1>
  </div>
</div>

<div class="container">
<div class="d-flex flex-wrap">
  <% @orders.each do |order| %>
    <div class="crime-card m-3 col-12 col-md-3 d-flex flex-column justify-content-between">
        <div>
          <span class="badge badge-pill badge-dark mb-3"><%= order.crime.category %></span>
          <p class="crime-name mb-1"><strong><%= order.crime.name %></strong></p>
          <p class="text-secondary">Ordered by <%= order.crime.user.user_name %></p>
        </div>
        <div>
          <h6 class="price-tag"><strong>Price</strong></h6>
          <p class="price"><%= order.crime.price %> <%= order.crime.currency %></p>
          <div>
            <span class="badge badge-primary badge-pill"><%= order.validated %></span>
            <span class="badge badge-primary badge-pill"><%= order.done %></span>
            <span class="badge badge-primary badge-pill"><%= order.paid %></span>
          </div>
        </div>
      </div>
  <% end %>
</div>


</div>
