<div class="form">
  <div class="container">
    <div class="col-12 col-md-6 m-auto">
    <h1>Add a new crime</h1>
    <h3>to your portfolio</h3>
      <%= simple_form_for @crime do |f| %>
      <%= f.input :name %>
      <%= f.input :category, as: :select, collection: Crime::CATEGORIES, prompt: "select one" %>
      <%= f.input :price %>
      <%= f.input :currency %>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
