<div class="container">
  <h1>Add a new crime to your portfolio</h1>
    <%= simple_form_for @crime do |f| %>
    <%= f.input :name %>
    <%= f.input :category, as: :select, collection: ["Murder", "Mass Murder", "Destruction", "Illegal trade", "Thief", "Black Mailing", "Intimidation"] %>
    <%= f.input :price %>
    <%= f.input :currency %>
    <%= f.submit %>
  <% end %>
</div>
